node_modules/
.next/
dist/
build/
out/
coverage/
*.log
*.cache
*.tmp
.DS_Store
Thumbs.db
*.zip
*.tar
*.tar.gz
*.7z
*.rar
**/public/ngo-banner-next/assets/js/
**/public/ngo-banner-next/assets/images/
**/ngo-banner-next/node_modules/
